.App {
  text-align: center;
  background-color: #333333;
  color: white
}

.books-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding:10px;
}

.books-container img {
 width: 140px;
 height: 240px;
}

.books-container span {
  font-weight: bolder;
}

.review {
  margin: auto;
  width: 15%;
  background-color: green;
  border: 3px solid black;
  border-radius: 12px;
  padding: 10px;
  color: white;
}

.review:hover {
  background-color: white;
  color: green;
}

.remove-button {
  background-color: red;
  color: white;
  border-radius: 12px;
  padding: 5px;
  margin: 8px;
}

.remove-button:hover {
  background-color: white;
  color: red;
  border-radius: 12px;
}
